<form method="post" action="{{ path('app_secretariats_delete', {'id': secretariat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secretariat.id) }}">
    <button class="btn">Delete</button>
</form>
