{% extends 'base2.html.twig' %}

{% block title %}SMQ
{% endblock %}

{% block main %}

{% endblock %}
{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>SMQ</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							SMQ
						</li>
					</ol>
				</nav>
			</div>

			 
		</div>


	</div>
{% endblock %}
  
{% block list %}
 {% endblock %}
 

