{% extends 'base2.html.twig' %}
{% block title %}Visualisation d'un utilisateur
{% endblock %}

{% block main %}{% endblock %}


{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Visualiser un utilisateur</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_users_index') }}">Liste des utilisateurs</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Visualiser un utilisateur
						</li>
					</ol>
				</nav>
			</div>

			<div class="col-md-6 col-sm-12 text-right">
				<div>

					<div>
						<a type="submit" href="{{ path('app_users_edit', {'id': user.id}) }}" class="btn btn-warning">
							<i class="icon-copy ion-edit"></i>
							&nbsp; Modifier
						</a>

					</div>

				</div>
			</div>


		</div>


	</div>
{% endblock %}


{% block list %}


	<div class="pd-20 card-box mb-30">

		<div class="pb-20">

			<div class="clearfix">

				<div
					class="pull-left">
					<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
					<p class="mb-30">
						<b>Fiche d'un utilisateur</b>
					</p>
				</div>

			</div>


			<div>


				<div class="row">


					<div class="col-md-6 col-sm-12 ">
						<div class="form-group">
							<label class="create__label" for="title">
								Email</label>
							<input class="form-control" type="text" name="name" value="{{ user.email }} " readonly>
						</div>
					</div>


					<div class="col-md-6 col-sm-12  ">
						<div class="form-group">
							<label class="create__label" for="title">
								Rôles
							</label>
							{% for role in user.roles %}
								{% if role == 'ROLE_USER' %}
									<input class="form-control" type="text" name="name" readonly value="Utilisateur">
								{% else  %}
									<input class="form-control" type="text" name="name" readonly value="Administrateur">
								{% endif %}
								<br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
