/*!
 * Copyright OlaSoft Bénin - 2019
 * https://www.olasoft.net
 * @OlaSoftBenin
 * contact@olasoft.net
 */

*::selection{
	background: var(--warning-color);
	color: #fff;
}

.mask{background: linear-gradient(0deg, #00261A 0%, #008559 100%); opacity: .74}
.border{border: .07vw solid #fff;}
.border.disable{border-color: #ccc;}
.white.disable{color: #ccc;}
.trans{opacity: .45}
.fadein{transition: all 1s; opacity: 0;}
.fadein.animate{opacity: 1}
.letter-spacing{letter-spacing: .39vw;}
.separator {height: .14vw; width: 6.25vw; background-color: #FFFFFF;}
.success.alt-2{color: rgb(0,38,26)}

#header{background: rgba(0,38,26,0);}
#header.opaque{background: rgba(0,38,26,1);}

/* #btnmenu{width: var(--header-height);}
@media(min-width:768px){
    #banner:not(.mini){height: 10vw; min-height: 50px;}
    #banner.semi{height: 34.72vw}
    #slider{height: 17.36vw}
} */

#quicksearch{top: 100%; height: 0vw;}
#quicksearch.opened{height: var(--header-height);}
#searchbox{background: rgba(0,38,26,.5);}
#searchbox input:not([type='submit']), #searchbox select{
	background: transparent;
	border: 0;
	border-bottom: .07vw solid #fff;
	margin-top: calc(var(--20px));
	color: #fff;
	padding: var(--10px) var(--10px);
	width: 100%;
	font-size: var(--p-size-adapt);
}

#menu li > div{
    max-height: 0px;
    top: calc( var(--10px) + 100%);
    background: rgba(0,38,26,1);
}
#menu li:hover > div{max-height: 300px;}

#footer ul{border-bottom: .07vw solid #fff;}

.unes{padding-bottom: calc(var(--20px) * 4)}
.unes > figure{width: 0%; transition: all 1s; overflow: hidden;}
.unes > figure img{transform: scale(1); transition: all .5s 1s}
.unes > figure.visible{width: 28.82%}
.unes > figure.visible img{transform: scale(1.05);}
.une{
	border-bottom: var(--5px) solid var(--success-color);
	overflow: hidden;
	border-radius: var(--5px) var(--5px) 0 0;
}
.error .une{border-bottom: var(--5px) solid var(--error-color);}
.une figure{height: 22.92vw; min-height: 150px}

.doc{
	opacity: .3;
	transition: all 1s;
}
.doc.visible{opacity: 1;}
.doc .thumb{min-width: 11%;}
.doc .infos{border-right: .14vw solid #D8D8D8;}
.doc .buttons::after{
	position: absolute;
	content: "";
	height: var(--10px);
	width: 100%;
	bottom: calc(-1 * var(--10px));
	left: 0;
	background: var(--warning-color-alt);
}

.doc > label, .doc-checkbox label{
	left: calc((-1 * var(--icon-small-size)) - (1.5 * var(--10px)));
	border: .097vw solid #979797;
	box-shadow: 0 0 calc(3 * var(--5px)) var(--5px) rgba(0,0,0,.15) inset;
}
.doc > label::before, .doc-checkbox label::before{
	position: absolute;
	content: "";
	background-color: var(--success-color);
	box-shadow: 0 0 var(--10px) .20vw rgba(0,38,26,1) inset;
	top: 50%; left: 50%;
	width: 0%; height: 0%;
	transition: all .35s;
}
.doc > input:checked + label::before, .doc-checkbox > input:checked + label::before{
	top: 15%; left: 15%;
	width: 70%; height: 70%;
}
.doc > div{border-bottom: .14vw solid #D8D8D8; min-height: 10.41vw;}
.doc.alt > div{border-color: #fff;}
.doc > input:checked + label + div{border-color: var(--success-color)}
.doc > input:checked + label + div .infos{border-color: var(--success-color)}

.docs.success .buttons::after{background: var(--success-color-alt);}
.thumb .semi{height: 50%;}
.thumb img{opacity: .1;}
.thumb .flag{height: calc(var(--5px) * .5); min-height: unset; min-width: unset;}
.thumb .cat, .thumb .num{font-weight: bold; text-transform: uppercase; font-size: 1.45vw;}
.thumb .cat.cm{font-weight: 600; font-size: 1vw;}
.thumb .num{letter-spacing: -1px;}

.grid{
	width: 12.5vw;
	height: 13.88vw;
	font-size: 0;
	position: relative;
	font-weight: bold;
}
.grid.laws{height: 9.375vw}

.grid i{
	position: absolute;
	display: inline-block;
	font-size: 3.82vw;
	width: 33.33%;
	height: 33.33%;
	text-align: center;
	color: #D8D8D8;
	transition: all .8s;
	left: 33.33%;
	top: 33.33%;
	opacity: 0;
}
.grid.laws i{top: 50%; height: 50%}
.grid i.sep{width: 33.33%; height: calc(var(--5px) * 1.5); background: #D8D8D8}

.grid.visible i{opacity: 1}
.grid.visible i:nth-child(1){left: 0; top: 0;}
.grid.visible i:nth-child(2){left: 33.33%; top: 0;}
.grid.visible i:nth-child(3){left: 66.66%; top: 0;}
.grid.visible i:nth-child(4){left: 0; top: 33.33%;}
.grid.visible i:nth-child(5){left: 33.33%; top: 33.33%;}
.grid.visible i:nth-child(6){left: 66.66%; top: 33.33%;}
.grid.visible i:nth-child(7){left: 0%; top: 66.66%;}
.grid.visible i:nth-child(8){left: 49.995%; top: 83.325%;}


.grid.laws.visible i:nth-child(1){left: 0; top: 0;}
.grid.laws.visible i:nth-child(2){left: 33.33%; top: 0;}
.grid.laws.visible i:nth-child(3){left: 66.66%; top: 0;}
.grid.laws.visible i:nth-child(4){left: 0; top: 75%;}
.grid.laws.visible i:nth-child(5){left: 33.33%; top: 50%;}
.grid.laws.visible i:nth-child(6){left: 66.66%; top: 50%;}

#typeBox{
    max-height: 0;
    transition: all .5s;
    box-shadow: 0;
    z-index: 1
}
#typeBox.opened{
    max-height: 300px;
    background: #fff;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,.25);
}
#typeBox li{
    padding: 7px 10px;
    border-bottom: 1px solid rgb(240,240,240);
}

.h2-alt{
    border-bottom: 1px solid rgba(0,38,26,.5);
    color: rgba(0,38,26,1);
    font-size: 1.34vw;
}

.btn.success-alt:not(.trans){background: rgba(0,38,26,1);}
.btn.success-alt.trans{color: rgba(0,38,26,1); border-color: rgba(0,38,26,1);}

#contacts input, #contacts textarea{
    border-color: #ccc;
}
#contacts textarea{
    height: 16vw;
    min-height: 120px;
}

em{background: var(--warning-color);}




#notice{
    bottom: 30px;
    right: -280px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
    overflow: hidden;
    width: 280px;
    transition: all .5s;
}
#notice.opened{right: 0px;}

article h2{text-transform: uppercase; margin-top: var(--20px)}
