{% extends 'base.html.twig' %}

{% block title %}Hello InitialisedDataController!{% endblock %}

{% block main %}
    <h1>Insertion de données</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }} 
{% endblock %}

